@import url('fonts/BigBoned.css');
@import url('fonts/foco.css');

html {
    background-image: url('hd_bkg.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    padding: 3.1% 8.3%;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-family: foco;
    font-size: 16px;
}

body > h1 {
    font-family: BigBoned;
    font-size: 100px;
    margin: 4% 0 0 0;
    height: 20%;
    color: #0066b3;
}

body > section {
    color: white;
    padding: 1.3% 2.6%;
    font-size: 200%;
}

div#label {
    position: absolute;
    bottom: 2.1%;
    left: -2.5%;
    background-image: url('label.png');
    background-size: contain;
    width: 18.9%;
    height: 40.1%;
    pointer-events: none;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-transform-origin: 0 0;
    -webkit-animation-timing-function:ease-in-out; /* or make your custom easing */
}

@-webkit-keyframes rotate {
    0%   { -webkit-transform: rotate(0deg); }
    100%  { -webkit-transform: rotate(3deg); }
}​
