@import url('fonts/foco.css');

html, body {
    overflow: hidden;
    height: 100%;
}

div#lowThird {
    font-family: foco;
    font-size: 16px;
    background-image: url('lowthird.png');
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 35%;
    transition: all 0.3s;
    padding: 8% 7% 2% 32%;
    font-size: 490%;
    box-sizing: border-box;
    color: #6f2c91;

}

div#lowThird.hidden {
    bottom: -35%;
}