@import url('fonts/lcd-bold.css');

#time {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    color: white;
    font-size: 96px;
    font-family: lcdbold;
    /*text-shadow: 0 0 0 0.05em black;*/
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}