@import url('fonts/foco.css');

#twitter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    overflow: hidden;
    background-color: #0066b3;
    color: white;
    font-family: foco;
    font-size: 32px;
    transition: bottom 0.3s;
}


#twitter.hidden {
    bottom: -4em;
}

#twitter .container {
    white-space: nowrap;
    display: inline-block;
    font-size: 0;
}

#twitter .author {
    font-weight: bold;
}

#twitter .tweet {
    padding-right: 50px;
    font-size: 32px;
}