<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scoring</title>
    <link rel="stylesheet" href="hd_bkg.css">
    <script src="js/angular.min.js"></script>
    <style>
        table {
            width: 95%;
            padding-left: 5%;
            margin-top: 2%;
        }
        td {
            padding: 4px 10px;
        }
    </style>
    <script>
        angular.module('results',[]).controller('resultController',function resultController($scope,$http,$interval) {
            var url = 'http://localhost:1390/scores';
            var url = 'http://fll-scoring.cloudapp.net/scores';
            var host = "ws://10.13.255.224:13900";
            var ws = (function() {
                var ws = new WebSocket(host);
                ws.onopen=function() {
                    ws.send(JSON.stringify({
                        type: "subscribe",
                        node: "overlay"
                    }));
                };
                ws.onerror=function(e){
                    console.log("error", e);
                };
                ws.onclose = function() {
                    console.log("close");
                };

                return ws;
            }());

            ws.onmessage=function(d) {
                var data = JSON.parse(d.data);
                // console.log(data);
                switch(data.topic) {
                    case "scoring:update":
                        update(data.data);
                    break;
                }
            };

            $scope.round = '';
            $scope.rounds = {};
            $scope.roundNames = [];
            $scope.currentRound = 0;
            var head = -1;
            var perPage = 10;

            function load() {
                return $http.get(url).then(function(response) {
                    $scope.rounds = response.data;
                    $scope.roundNames = Object.keys($scope.rounds);
                    console.log($scope.rounds,$scope.roundNames);
                });
            }

            function update(scores) {
                console.log(scores);
                $scope.rounds = scores;
                $scope.roundNames = Object.keys($scope.rounds);
                console.log($scope.rounds,$scope.roundNames);
                page();
            }

            function page() {
                if (!$scope.roundNames.length) {
                    return;
                }
                if (!$scope.roundNames[$scope.currentRound]) {
                    $scope.currentRound = 0;
                }

                var round = $scope.roundNames[$scope.currentRound];
                console.log(round);
                if (round) {
                    $scope.round = 'Ronde '+round;
                    $scope.scores = ($scope.rounds[round]||[]).slice(head, head + perPage);
                    head += perPage;
                    if (head > ($scope.rounds[round]||[]).length) {
                        $scope.currentRound += 1;
                        $scope.currentRound %= $scope.roundNames.length;
                        head = 0;
                    }
                    console.log($scope.currentRound,$scope.scores);
                }
            }

            //refresh every 30 seconds
            // $interval(load,30000);

            //turn the page every 5 seconds
            $interval(page,5000);

            //initialize
            // load().then(page);
            page();
        });
    </script>
</head>
<body ng-app="results" ng-controller="resultController">
    <h1>{{round}}</h1>
    <!-- put one section element around the main content -->
    <section>
     <!--    <ul ng-repeat="score in scores track by $index">
            <li>{{score.teamNumber}} {{score.team.name}} {{score.score}}</li>
        </ul> -->
        <table>
            <tr ng-repeat="score in scores track by $index">
                <td>{{score.teamNumber}}</td>
                <td>{{score.team.name}}</td>
                <td>{{score.score}}</td>
            </tr>
        </table>
    </section>
    <!-- decorative items -->
    <div id="label"></div>
</body>
</html>
